<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin Blockchain Explorer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'"
    />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  </head>

  <body ng-app="BlockExplorer">
    <div class="container" ng-controller="MainController">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="page-title">Bitcoin Blockchain Explorer</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form ng-submit="search(searchValue)">
            <div class="form-group">
              <label for="searchType">Search by</label>
              <select name="searchType" class="form-control" ng-model="searchType" ng-change="resetForm()">
                <option value="blockHash">Block Hash</option>
                <option value="transactionId">Transaction ID</option>
                <option value="address">Address</option>
              </select>
            </div>
            <div class="form-group">
              <label for="searchValue">Enter value</label>
              <input name="searchValue" type="text" class="form-control" ng-model="searchValue" />
            </div>
            <button type="submit" class="btn btn-primary btn-search">Search blockchain</button>
            <p ng-if="!blockData && !transactionData && !addressData && initialSearchMade" class="no-results-found">No data found for search.</p>
          </form>
        </div>
      </div>

      <div class="row" ng-if="blockData">
        <div class="col-md-10 offset-md-1">
          <h3 class="table-title">Block data</h3>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td class="font-weight-bold">Block Hash</td>
                <td>{{ blockData.hash }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Block Index</td>
                <td>{{ blockData.index }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Timestamp of mining</td>
                <td>{{ blockData.timestamp }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Nonce</td>
                <td>{{ blockData.nonce }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Previous Hash</td>
                <td>{{ blockData.previousBlockHash }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Number of Transactions</td>
                <td>{{ blockData.transactions.length }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" ng-if="transactionData">
        <div class="col-md-10 offset-md-1">
          <h3 class="table-title">Transaction data</h3>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td class="font-weight-bold">Transaction Id</td>
                <td>{{ transactionData.transactionId }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Sender</td>
                <td>{{ transactionData.sender }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Recipient</td>
                <td>{{ transactionData.recipient }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Amount</td>
                <td>{{ transactionData.amount }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Found in Block index</td>
                <td>{{ transactionData.blockIndex }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" ng-if="addressData">
        <div class="col-md-12">
          <h3 class="table-title">Address</h3>
          <p class="balance-text">(Balance: {{ addressData.balance }})</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Transaction Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Diploma data</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="transaction in addressData.transactions">
                <td>{{ transaction.transactionId }}</td>
                <td>{{ transaction.sender }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script>
      window.app = angular.module("BlockExplorer", []);

      app.controller("MainController", function ($scope, $http) {
        $scope.blockData = null;
        $scope.transactionData = null;
        $scope.addressData = null;
        $scope.initialSearchMade = false;

        $scope.fetchBlockData = function (blockHash) {
          $http.get(`/block/${blockHash}`).then((response) => {
            $scope.blockData = response.data;
            $scope.transactionData = null;
            $scope.addressData = null;
          });
        };

        $scope.fetchTransactionData = function (transactionId) {
          $http.get(`/transaction/${transactionId}`).then((response) => {
            $scope.transactionData = response.data.transaction;
            $scope.blockData = null;
            $scope.addressData = null;
          });
        };

        $scope.fetchAddressData = function (address) {
          $http.get(`/address/${address}`).then((response) => {
            $scope.addressData = response.data;
            if (!$scope.addressData.transactions.length) $scope.addressData = null;
            $scope.blockData = null;
            $scope.transactionData = null;
          });
        };

        $scope.search = function (searchValue) {
		  $scope.initialSearchMade = true;
          if ($scope.searchType === "blockHash") {
            $scope.fetchBlockData(searchValue);
          } else if ($scope.searchType === "transactionId") {
            $scope.fetchTransactionData(searchValue);
          } else if ($scope.searchType === "address") {
            $scope.fetchAddressData(searchValue);
          }
        };

        $scope.resetForm = function () {
          $scope.searchValue = "";
          $scope.initialSearchMade = false;
          $scope.blockData = null;
          $scope.transactionData = null;
          $scope.addressData = null;
        };
      });
    </script>

    <style>
      html,
      body {
        min-height: 100vh;
        background-color: #e8e8e8;
      }

      .container {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .page-title {
        text-align: center;
        margin-bottom: 40px;
      }

      .table-title {
        margin-bottom: 20px;
        text-align: center;
      }

      .table {
        background-color: #ffffff;
        box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.75);
      }

      .balance-text {
        text-align: center;
        margin-top: -20px;
        margin-bottom: 30px;
      }

      .btn-search {
        margin: auto;
        display: block;
        margin-bottom: 50px;
      }

      .no-results-found {
        color: red;
        text-align: center;
      }
    </style>
  </body>
</html>
